
.first-cont{
	height: 650px;
	width: 100%;
	background-image: url("img/auth_bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.sign_in{
	background-color: #000;
	margin-top: 10px;
	margin-left: 520px;
	color: #0e8d4a;
	border: 2px solid #0e8d4a;
}
.sign_up{
	background-color: #000;
	margin-top: 10px;
	margin-left: 30px;
	color: #0e8d4a;
	border: 2px solid #0e8d4a;
}
.nav li{
	color: #fff;
}
.for-lecturers{
	height: 350px;
	width: 49%;
	background-image: url("img/b.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
}
.for-students{
	height: 350px;
	width: 49%;
	margin-left: 20px;
	background-image: url("img/c.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
}
#student-stuff{
	margin-top: 60px;
	transition: 0.5s ease;
	font-size: 15px;
}

#lecturer-stuff{
	margin-top: 60px;
	transition: 0.5s ease;
	font-size: 15px;
}
.side{
	background-color: #f7f1f1;
	border-right: 1px solid #ccc;
	height: 640px;
	margin-top: 50px;
}
#menu{
	margin-top: 50px;
}
#menu ul{
	list-style-type: none;
}
#menu li{
	margin:	20px 0px 20px 0px;
	font-weight: bold;
}
#menu a{
	text-decoration-line: none;
	color: #000;
}
.modal{
	color: #000;
}
.modal input{
	margin: 20px 0px 20px 0px;
}
.lecturer_home_middle_column{
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
.lec_column{
	height: 500px;
}
.student_home_middle_column{
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
.stud_column{
	height: 500px;
}